.tareaItem {
    display: flex;
    flex-direction: column;
    background-color: var(--secondary-color);
    border: 1px solid #ddd;
    border-radius: var(--border-radius);
    padding: 1rem;
    margin-bottom: 1rem;
    box-shadow: 0 4px 6px var(--shadow-color);
    transition: box-shadow var(--transition-time) ease;
    width: 100%;
}

.tareaItem:hover {
    box-shadow: 0 6px 8px var(--shadow-color);
}

.tareaInfo {
    display: flex;
    align-items: center;
    margin-bottom: 0.5rem;
    justify-content: center;
    gap: 1rem;
}

.checkbox {
    transform: scale(1.2);
    cursor: pointer;
}

.titulo {
    margin: 0;
    font-size: 1.2rem;
    font-weight: bold;
    color: var(--primary-color);
}

.descripcion {
    font-size: 1rem;
    color: #555;
    margin-bottom: 0.8rem;
}

.botones {
    display: flex;
    gap: 1rem;
    justify-content: center;
}

.botonEliminar,
.botonEditar {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    border: none;
    padding: 0.5rem 1rem;
    border-radius: var(--border-radius);
    cursor: pointer;
    font-size: 0.9rem;
    transition: background-color var(--transition-time) ease;
}

.botonEliminar:hover {
    background-color: #e74c3c;
}

.botonEditar:hover {
    background-color: #3a7bc8;
}

/* Media Queries */
@media (max-width: 768px) {
    .tareaItem {
        padding: 0.8rem;
        /* Reduce el padding en pantallas pequeñas */
        margin-bottom: 0.8rem;
        font-size: calc(1rem - .2rem);
        /* Ajusta el tamaño de fuente */
        max-width: calc(90vw);
        /* Limita el ancho */
        margin: auto;
        /* centrarlo*/

    }
}